@charset "UTF-8";
@font-face {
	font-family: 'brandon-grotesque', sans-serif;
}

@font-face {
	font-family: 'brandon-grotesque', sans-serif;
}

html,body {
	font-family: 'brandon-grotestque', sans-serif;
	width: 100%;
	height: 100%;
	color: #000000;
}


/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	/*clear: both;*/
	margin-left: 0;
	width:100%;
	height:100%;
	/*float: left;*/
	display: block;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
	color:#fff;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	width:100%;
	height:auto;
}

.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}
#playlist {
	/*width: 75%;
	height:auto;*/
	display:block;
	margin:auto;
}



/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 100%;
	height:100%; 
}

.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}

} /* end of tablet layout */

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 100%;
	height:100%;
}

.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}

} /* end of Desktop layout */

#headers {
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 40px;
	width:100%;
	margin:auto;
	display:block;
	color: Black;
	text-align: left;
}

#intro {
	background-color:#E9F4FF;
	height: 100%;
	font-family: 'brandon-grotesque', sans-serif;
	display: block;
	margin:auto;
}

#intro_text {
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 24px;
	width:75%;
	margin:auto;
	display:block;
	color: #585858;
	text-align:center;
}

#video_player {
	background-color:#3396FC;
}

#maps_view {
	background-color: #004E9C; 
	font-size:36px;
}

#weather_api {
	background-color:#B2C0CB;

}

#resources {
	background-color:#E9F4FF;
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 24px;
	width:100%;
	margin:auto;
	display:block;
	color: #585858;
	text-align:left;

}

#footer {
	background-color: #585858;
	color: #E9F4FF;
	height: auto;
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 18px;
	display: block;
	margin:auto;
	text-align: center;
}

#footer #info {
	min-width: 300px;
	max-width: 90%;
	margin: auto;
	display: block;
}

#footer table {
	margin:auto;
}

#footer #info a {
	padding-left:0px; 
	padding-right:0px;
}

#footer a {
	padding-left:10px; 
	padding-right:10px; 
	text-decoration: none;
	color:#E9F4FF; 
}

#footer a:hover {
	color:#3396FC;
}

#intro table {
	margin:auto;
	font-family: 'brandon-grotestque', sans-serif;
	font-size: 42px;
	max-width:95%; 
}

#intro a {
	padding-left:10px; 
	padding-right:10px; 
	font-family: 'brandon-grotestque', sans-serif;
	text-decoration: none;
	color:#3396FC; 
}

#intro a:hover {
	color:#004E9C;
}

#logo {
	width: 450px;
	max-width: 65%;
	display:block;
	margin:auto;
	padding-top:10%;
}

#arrow {
	width: 5%;
	display: block;
	bottom:5px;
	left:47.5%;
	position:absolute;
}

#back-to-top {
	font-family: 'brandon-grotestque', sans-serif; 
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

#back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}

.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background: url('arrow.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}

/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


#weather {
  width: 100%;
  height:100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}